
    <head th:fragment="header">
            <meta charset="utf-8"/>
        <title th:fragment="page-title">ANTIC - Cartographie des projets TIC</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Cartographie des projets TIC du Cameroun" name="description" />
        <meta content="ANTIC" name="author" />
        
        
     



        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

        <link rel="stylesheet" th:href="@{/css/plugins/morris/morris.css}"> 
        <link rel="stylesheet" th:href="@{/css/plugins/chartist/css/chartist.min.css}">
        <link th:href="@{/css/plugins/jvectormap/jquery-jvectormap-2.0.2.css}" rel="stylesheet">
        <link th:href="@{/css/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" /> 

    </head>
  